.input {
  height: 40px;
  background: #f7f7fa;
  border: 1px solid #e4e4e5;
  border-radius: 8px;
  margin-right: 40px;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
}

.error {
  &,
  &:focus {
    border: 1px solid red;
    outline: 1px solid red;
  }
}

.small {
  outline: none;
  background: #f2f4f7;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #000;
  padding: 0;
  border-radius: 3px;
  position: relative;
  top: -1px;
}

.success {
  border: 1px solid green;
  opacity: 0.6;
  text-align: center;
}

.button {
  cursor: pointer;
  background: #8362f3;
  border-radius: 80px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  height: 40px;
  color: #fff;
  padding: 0 20px;

  &:disabled {
    opacity: 0.5;
  }
}

.reset {
  background: transparent;
  color: #8362f3;
  border: none;
  border-bottom: 1px dashed #8362f3;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.title {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}
